<!DOCTYPE html>
<html>
  <head>
    <title>IdeaFactory</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="container-fluid">
        <%= link_to '💡', root_path, id:"nav-logo"%>
        <% if current_user.present? %>
          <span><%= current_user.first_name %></span>
          <%= link_to 'New Idea', new_idea_path %>
          <%= link_to 'Sign Out', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign In', new_session_path %>
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
      </div>
      <hr>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning" role="alert">
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>

  <script>
    document.querySelectorAll('.description-toggle').forEach(node => {
      node.addEventListener('click', event => {
        const {currentTarget} = event
        targetDescription = currentTarget.parentElement.parentElement.querySelector('.idea-description')
        if (currentTarget.innerHTML === '➕') {
          currentTarget.innerHTML = '➖'
          targetDescription.classList.remove('hidden')
        } else {
          currentTarget.innerHTML = '➕'
          targetDescription.classList.add('hidden')
        }

      });
    });



  </script>

  </body>
</html>
